<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.CmsMemberReportMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.CmsMemberReport">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <arg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="report_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="report_member_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="report_object" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="report_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="handle_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="note" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
</mapper>