<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.OmsCartItemMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.OmsCartItem">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_sku_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="member_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="quantity" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="product_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_sub_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_sku_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="member_nickname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="modify_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="delete_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="product_category_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_brand" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_sn" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_attr" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, product_id, product_sku_id, member_id, quantity, price, product_pic, product_name, 
    product_sub_title, product_sku_code, member_nickname, create_date, modify_date, delete_status, 
    product_category_id, product_brand, product_sn, product_attr
  </sql>
</mapper>