<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.OmsOrderSettingMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.OmsOrderSetting">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="flash_order_overtime" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="normal_order_overtime" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="confirm_overtime" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="finish_overtime" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_overtime" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, flash_order_overtime, normal_order_overtime, confirm_overtime, finish_overtime, 
    comment_overtime
  </sql>
</mapper>