<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.OmsOrderSettingMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.OmsOrderSetting">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="order_setting_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="sales_close_time" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="normal_close_time" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="confirm_close_time" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="after_sales_time" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="auto_comment_time" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    order_setting_id, sales_close_time, normal_close_time, confirm_close_time, after_sales_time, 
    auto_comment_time
  </sql>
</mapper>