<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.OmsOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.OmsOrderItem">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="order_item_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="order_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="order_sn" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_sn" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_classify_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="brand_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sku_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="sku_sn" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="product_quantity" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="promotion_info" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="promotion_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="coupon_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="points_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="real_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="get_points" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="get_growth" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="product_attribute" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    order_item_id, order_id, order_sn, product_id, product_pic, product_name, product_sn, 
    product_classify_id, brand_name, sku_id, sku_sn, price, product_quantity, promotion_info, 
    promotion_amount, coupon_amount, points_amount, real_amount, get_points, get_growth, 
    product_attribute
  </sql>
</mapper>