<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.PmsCommentMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.PmsComment">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="member_nick_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="star" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="member_ip" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="show_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="product_attribute" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="collect_couont" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="read_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pics" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="member_icon" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="replay_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhiqiang.mall.bean.PmsComment">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="member_nick_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="star" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="member_ip" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="show_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="product_attribute" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="collect_couont" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="read_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pics" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="member_icon" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="replay_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="content" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, product_id, member_nick_name, product_name, star, member_ip, create_time, show_status, 
    product_attribute, collect_couont, read_count, pics, member_icon, replay_count
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    content
  </sql>
</mapper>