<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.PmsProductAttributeMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.PmsProductAttribute">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_attribute_category_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="select_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="input_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="input_list" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sort" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="filter_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="search_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="related_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="hand_add_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, product_attribute_category_id, name, select_type, input_type, input_list, sort, 
    filter_type, search_type, related_status, hand_add_status, type
  </sql>
</mapper>