<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.PmsSkuMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.PmsSku">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="sku_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="sku_sn" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="discount_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="promotion_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="member_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="point_limit" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="full_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="reduction_money" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="stock" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="warning_stock" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="picture" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sale" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    sku_id, product_id, sku_sn, price, discount_type, promotion_price, member_price, 
    point_limit, full_price, reduction_money, stock, warning_stock, picture, sale
  </sql>
</mapper>