<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.UmsIntegrationConsumeSettingMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.UmsIntegrationConsumeSetting">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="deduction_per_amount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="max_percent_per_order" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="use_unit" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="coupon_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, deduction_per_amount, max_percent_per_order, use_unit, coupon_status
  </sql>
</mapper>