<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.UmsMemberLevelMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.UmsMemberLevel">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="growth_point" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="default_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="free_freight_point" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="comment_growth_point" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="priviledge_free_freight" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="priviledge_sign_in" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="priviledge_comment" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="priviledge_promotion" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="priviledge_member_price" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="priviledge_birthday" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="note" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, growth_point, default_status, free_freight_point, comment_growth_point, 
    priviledge_free_freight, priviledge_sign_in, priviledge_comment, priviledge_promotion, 
    priviledge_member_price, priviledge_birthday, note
  </sql>
</mapper>