<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.UmsMemberMemberTagRelationMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.UmsMemberMemberTagRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="member_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="tag_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, member_id, tag_id
  </sql>
</mapper>