<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.CmsHelpClassifyMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.CmsHelpClassify">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="classify_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="icon" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="help_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="show_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="note" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    classify_id, name, icon, help_count, show_status, note
  </sql>
</mapper>