<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.OmsOrderReturnsApplyMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.OmsOrderReturnsApply">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="order_returns_apply_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="order_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="address_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="order_sn" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="member_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="return_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="return_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="return_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="handle_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="handle_man" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="handle_note" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receive_man" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receive_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="receive_note" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_brand" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_attribute" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="real_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="reason" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="proof_pics" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    order_returns_apply_id, order_id, address_id, product_id, order_sn, create_time, 
    member_name, return_name, return_amount, return_phone, status, handle_time, handle_man, 
    handle_note, receive_man, receive_time, receive_note, product_pic, product_name, 
    product_brand, product_attribute, product_count, price, real_price, reason, description, 
    proof_pics
  </sql>
</mapper>