<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.PmsProductOperateLogMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.PmsProductOperateLog">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="operate_log_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
</mapper>