<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqiang.mall.user.mapper.SmsSalesProductRelationMapper">
  <resultMap id="BaseResultMap" type="com.zhiqiang.mall.bean.SmsSalesProductRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="sales_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="sales_session_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="flash_promotion_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="flash_promotion_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="flash_promotion_limit" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, sales_id, sales_session_id, product_id, flash_promotion_price, flash_promotion_count, 
    flash_promotion_limit
  </sql>
</mapper>